$dark: #00395A;
$primary: #0067A5;
$light: #AEC6CF;
$white: #ffffff;

body {
    margin: 0;
    display: flex;
    font-family: sans-serif;
    color: $dark;
    position: relative;
}


table {
    width:  1280px;
    min-height: 100vh;
    border-collapse: collapse;

    a {
        text-decoration: none;
        color: $white;
        &:hover{
            color: $light;
        }
    }

    tr:nth-child(odd) {
        background: $white;
    }
    tr:nth-child(even) {
        background: $light;
    }
    th{
        background: $primary;
    }
    td, th{
        padding: 10px;
        border: 2px solid $primary;
    }
}


form {
    width:  640px;
    height: 100vh;

    top: 0;
    right: 0;
    position: fixed;

    background: $primary;

    box-sizing: border-box;
    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        text-align: center;
        color: #ffffff;
    }
    label, fieldset{
        color: #ffffff;
    }
    legend{
        text-align: left;
    }

    fieldset{
        text-align: center;
        border-radius: 5px;
        border: 2px solid $dark;
        margin: 2px 0 12px 0;
    }

    input[type=text],input[type=email],input[type=tel],input[type=submit],select {
        width: 100%;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 2px 0 12px 0;
        padding: 10px;
        border: 2px solid $dark;
    }
    input[type=submit]{
        background:  $dark;
        color: $white;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            background: $light;
            color: $dark;
        }
    }
}
